<app-item-list-Widget [heading]="heading" [backto]="backto" (primaryActionEvent)="onPrimaryActionEvent($event)"
  (deleteEvent)="onDeleteActionEvent($event)" [primaryAction]="primaryAction" [showFilter]="showFilter" [cards]="cards"
  *ngIf="cards"></app-item-list-Widget>


<div class="modal" *ngIf="selectedUser">
  <div class="card">
    <h3>
      Are you sure you want to delete this user
    </h3>

    <button (click)="selectedUser =  null">Do not delete</button>
    <button class="yes" (click)="delete(selectedUser)">Yes delete user</button>
  </div>
</div>

<app-pop [message] = "message" *ngIf="message"></app-pop>