<div class="top-bar">
  <div class="col">
    <img src="assets/images/back.svg" (click)="back()" alt="">
  </div>

  <div class="col">
    <h1 style="text-transform: none;">
    {{heading}}
    </h1>
  </div>
</div>

<div class="container container-dash" *ngIf="grade">
  <!-- <h2>
    Welcome back to prosperity
  </h2> -->

  <div class="form-item">
    <label for="">Name*</label>
    <input type="text" [(ngModel)]="grade.Name" placeholder="Name here">
  </div>
  <div class="form-item">
    <label for="">Notes</label>
    <textarea [(ngModel)]="grade.Description" placeholder="Notes"></textarea>
  </div>

 

 

  <div class="form-item">
    <button (click)="save()" [disabled] ="!grade.Name" >Save grade</button>

    <p class="error" *ngIf="error">
      {{error}}
    </p>
  </div>

</div>
<app-pop [message] = "message" *ngIf="message"></app-pop>