<div class="container">
  <div class="row cards" *ngIf="cards">
    <div class="col-sm-4" *ngFor="let card of cards" (click)="goto(card.Url)">
      <div class="card  m-2">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h5>
              {{card.Name}}
              <span>
                {{card.Description}}
              </span>
            </h5>
          </div>
          <div class="col-md-6 col-sm-6">
            <img [src]="card.Icon" alt="">
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
