@import '../../../../assets/styles/colors';

.create {
  display: grid;
  grid-template-columns: 15em auto;
  padding: 1em 0;


}

.answers {
  padding: 1em 0;
  margin: 1em 0;

}

.notes {
  span {
    display: block;
    font-size: .75em;
    font-weight: 600;
  }
}
.items{
    padding: 2em 0;
}
.item {
  padding: .5em 0;
  border-top: 1px solid $cloud;
  border-top: 1px solid $cloud;
  border-bottom: 1px solid $cloud;
}


.table-row{
display: grid;
grid-template-columns: 60% 20% auto;
a{
 cursor: pointer;
 padding: 0 1em;
 font-weight: 600;
}
}