<h4>Lessons</h4>
<div class="activity-feed">

  <div class="feed-item">
    <div class="date">Sep 18</div>
    <div class="text">Created need <a href="single-need.php">“Volunteer Opportunity”</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 17</div>
    <div class="text">Attending the event <a href="single-event.php">“Some New Event”</a></div>
  </div>
</div>


<h4>Classworks</h4>
<div class="activity-feed">
  <div class="feed-item">
    <div class="date">Sep 25</div>
    <div class="text">Responded to need <a href="single-need.php">“Volunteer opportunity”</a></div>
  </div>


  <div class="feed-item">
    <div class="date">Sep 17</div>
    <div class="text">Attending the event <a href="single-event.php">“Some New Event”</a></div>
  </div>
</div>


<h4>Homeworks</h4>
<div class="activity-feed">
  <div class="feed-item">
    <div class="date">Sep 25</div>
    <div class="text">Responded to need <a href="single-need.php">“Volunteer opportunity”</a></div>
  </div>

  <div class="feed-item">
    <div class="date">Sep 23</div>
    <div class="text">Joined the group <a href="single-group.php">“Boardsmanship Forum”</a></div>
  </div>

</div>


<h4>Assignments</h4>
<div class="activity-feed">
  <div class="feed-item">
    <div class="date">Sep 25</div>
    <div class="text">Responded to need <a href="single-need.php">“Volunteer opportunity”</a></div>
  </div>

  <div class="feed-item">
    <div class="date">Sep 23</div>
    <div class="text">Joined the group <a href="single-group.php">“Boardsmanship Forum”</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 21</div>
    <div class="text">Responded to need <a href="single-need.php">“In-Kind Opportunity”</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 18</div>
    <div class="text">Created need <a href="single-need.php">“Volunteer Opportunity”</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 17</div>
    <div class="text">Attending the event <a href="single-event.php">“Some New Event”</a></div>
  </div>
</div>
