<div class="holder">
  <div class="home">

    <div class="col">
      <h1 style="text-align: left !important; padding: 1em 0 !important;">
        Teaching and learning platform
      </h1>
  
      <p>
        Prosperity is a learning management system that allows teachers to provide learning content to students,
        communicate with students quickly, and provide tests, assignments, lessons, classworks and homework to students.
      </p>
      
      <a routerLink ="sign-up" class="btn btn-primary">Get started</a> <br><br>
    </div>
    <div class="col">
      <img src="assets/images/home-landing.svg" alt="">
  
    </div>
    
  </div>
  
  
  
  <div class="home">
    <div class="col">
      <img src="assets/images/why.svg" style="width: 80%;" alt="">
  
    </div>0
    <div class="col">
      <h2>
        Why choose us.
      </h2>
  
      <p>
        <span>Engage teachers and learners
        </span>
        Teachers can create lessons at any time and students will receive instant notifications and keep learning.
      </p>
  
      <p>
        <span>Easy exam preparation
        </span>
        Learners can revisit past learning material from previous terms to help them prepare for exams.
      </p>
  
      <p>
        <span>Personalized user experience
        </span>
        Each teacher can create lessons like they normally would in their classroom, thus maintaining that classroom
        feeling even online.
      </p>
    </div>
  
  </div>
  
  
  
  <div class="home">
  
    <div class="col">
      <h2>
        Features
      </h2>
  
      <p>
  
        Lessons ,
        classworks,
        home works,
        assignments, tests and
        discussions
        <br><br>
        <b>Each feature has a dedicated:</b>
        <br><br>
        Notes section,
        image section,
        audio section,
        file section,
        student section
  
      </p>
  
      <button>Get started</button>
    </div>
    <div class="col">
      <img src="assets/images/home-landing.svg" style="width: 80%;" alt="">
  
    </div>
  </div>
  
</div>