$max-width: 80em;
$primary: #09243F;
$primary-hover: #0d3257;
$white: #fff;
$black: #000;
$cloud: #dddddd;
$grey: #727272;
$pop: #F2DC8A;
$pop2:rgb(180, 153, 53);
$darker-grey: #727272;
$glass:#fbfbfb;
$glass:#fbfbfb;
$info:#3498db;
$box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
